<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => t("views.links.list"))}", admin_services_path  %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.edit", :default => t("views.links.edit"))}", edit_admin_service_path %></li>
    </ul>
  </div>          
  <div class="content">   
  	<br>         
    <div class="inner">
      <%= error_messages_for :service%>
     <% form_for @service, :url => admin_service_path(@service.id), :html => { :class => :form } do |f| -%>
     <input type="hidden" name="_method" value="put" />
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
