<div class="content">
  <div class="create-profile">
    <div id="edit_company_email">
      <%= render :partial => "edit_company_email" %>
    </div>
  </div>
  <div class="clear"></div>
</div><!-- .content -->