<div class="block">
  <div class="content">
    <h2 class="title"><%= t("views.users.people") %><%= help_icon %></h2>
    <div class="inner">
      <%= link_to t("views.coworkers"), contacts_user_path(current_user) %>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>

