<% form_for :call_fwduncondition, :url => update_call_fwduncondition_useradmin_callcontrols_path, :html => {:multipart => true,  :class => :form } do |f| -%>
<input type="hidden" name="_method" value="put" />
<table align="left" cellspacing="2" cellpadding="5" border="0" style="font-size:12px;width:350px;">
	<tr>
		<td style="padding: 10px 0; "> <%= f.label :label_callunconditionno, t("views.labels.callforwardunconditional"), :class => :label %></td>
		<td> <%= f.text_field :number, :value => @number, :size=>"17px;", :class => "text_border"%><div id="phone_error_un" style="display:none;color:red;"></div></td>
	</tr>
	<tr>
		<td colspan="2" align="left">
		<input type="submit" class="submit_apply" value = <%=t("views.buttons.apply")%> />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="cancel_call_fwduncondition" name="cancel_call_fwduncondition" value = <%=t("views.buttons.cancel")%>  />
		</td>
	</tr>
</table>
<% end -%>

<script type="text/javascript" charset="utf-8">
	$(function() {

		$('input#cancel_call_fwduncondition').click(function() {
			$('span#arrow_call_fwduncondition').html('<img src="/images/arrow_down.jpg" align="absmiddle" width="16" height="16"">');
			$('div#call_fwduncondition_div').hide();
		});
	});

	$('input.submit_apply').click(function() {		
	$('div#phone_error_un').hide();	
	var flag = true;
	if($('input#call_fwduncondition_number').val() == "") {
		$('div#phone_error_un').html('Please enter a phone number').show();
		flag = false;
	}
	else{
		if(!/^\+*$/.test($('input#call_fwduncondition_number').val().substring(0,1))) {
			$('div#phone_error_un').html('Phone number starts with \'+\'').show();
			flag = false;
		}	
		else if(!/^[0-9]+$/.test($('input#call_fwduncondition_number').val().substring(1))) {
			$('div#phone_error_un').html('Phone number is not valid').show();
			flag = false;
		}
		}
		return flag;
	});
</script> 