<h3>Hi, <%= @adminName %> </h3>

<p>Welcome! LeapDrive company account has been created.  You can access to the LeapDrive site here:</p>
<p>If the above link does not work, try copying it and pasting it into your browser.</p>

<%= link_to property(:cloudstorage_admincp_url), property(:cloudstorage_admincp_url) %>
<br/>
<br/>User Name: <%= @loginName %>
<br/>Password: <%= @password %>

