<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li class="first">
				<%= link_to "#{t("web-app-theme.list", :default => t("views.links.list"))}", admin_application_plans_path  %>
			</li>
			<li class="first active">
				<%= link_to "#{t("web-app-theme.list", :default => t("views.links.add"))}", new_admin_application_plan_path  %>
			</li>
		</ul>
	</div>
	<div class="content">
		<br>
		<div class="inner">
			<%= error_messages_for :application_plan %>
			<% form_for :application_plan, :url => admin_application_plans_path, :html => { :class => :form } do |f| -%>
			<%= render :partial => "form", :locals => {:f => f} %>
			<% end -%>
		</div>
	</div>
</div>
