<div class="content left-column applications-layout">
  <div class="clear"></div>
  
  <%= render :partial => "applications", :locals => {:applications => @applications} %>
  <div class="clear"></div>
</div><!-- .content -->
