<h3>Hi, <%= @login %> </h3>



<p>You have successfully purchased Application <b><%=@plan.code%> </b>. </p> </br>

<p>You can Download/Access the Application  in <%=link_to @application_url, @application_url%><p></br>
	
	<%application = Application.find_by_id(@plan.application_id)%>
<%if application.external_url.present?%>
<p>Application Main Page  <%=link_to  application.external_url, application.external_url%></p> </br>
<%end%>	

<p>If the above link does not work, try copying it and pasting it into your browser.</p>

