<h3>Hi, <%= @user.name %> </h3>

<p>Please Download application <%=@application.name%> from <%= link_to @download_url, @download_url%> <br /></p>

<p>If the above link does not work, try copying it and pasting it into your browser.</p>
