<h3>Hi, <%= @login %> </h3>

<p>Your Subscription for <%=@services%> is success. You can Cancel or get Refund for your subscription in paypal/amazon website or in following url.</p> </br>
  
  <%=link_to @manage_payment_url, @manage_payment_url %> </br>

<p>If the above link does not work, try copying it and pasting it into your browser.</p>

