<h2>Hi, <%= @loginName %> </h2>
<h3>You have sucessfully changed your enterprise admin password!</h3>
<P>
	The new login information is:
</p>
<%= link_to @website_url, @website_url %>
<br/>
<br/>
User Name: <%= @loginName %>
<br/>
Password: <%= @password %>
<p>
	<i> This is a confidential email, please keep it safe. </i>
</p>
