<h2>Hi, <%= @loginName %> </h2>
<h3>Your enterprise has been removed from Ippbx!</h3>

<P>Any further information, please contact your service provider administrator.</p>

<p><i> This is a confidential email, please keep it safe. </i></p>
