<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li class="first active">
				<%= link_to "#{t("web-app-theme.list", :default => t("views.links.list"))}", sysadmin_routingactions_path %>
			</li>
			<li >
				<%= link_to "#{t("web-app-theme.list", :default => t("views.links.add"))}", new_sysadmin_routingaction_path %>
			</li>
		</ul>
	</div>
	<div class="content" >
	</div>
</div>