<div class="auth-box register-box">
	<div class="inner-auth-box">
		<div class="head tac">
			<h1><%= t("views.users.reg_confirmation") %></h1>
			</br></br> 
			
			<h4><%= t("views.users.reg_thanks") %></h4>
			</br>
			
			<p class="info_margin" align="left">
				<font color="black"><%= t("views.users.reg_email_confirm_instruction") %></font>
			</p>
			
			</br></br></br></br></br>
				
		</div>
	</div>
</div>

<style type="text/css">
	p {
	}
	p.info_margin {
		margin: auto;
		padding-left: 90px;
		padding-right: 90px;
	}
</style>