<div class="content">
  <div class="create-profile">
    <div id="edit_by_employee">
      <%= render :partial => "edit_by_department" %>
    </div>
  </div>
  <div class="clear"></div>
</div><!-- .content -->
