<div class="content left-column">
  <div class="clear"></div>
  <%= render :partial => "nav_menu" %>
  <div class="right-wide-side employees-container">
    <%= render :partial => "select_company" %>
		<%= render :partial => "departments", :object => @department %>
  </div>
  <div class="clear"></div>
</div><!-- .content -->

