<div class="content left-column">
	<div class="clear"></div>
	<%= render :partial => "nav_menu" %>
	<div class="right-wide-side employees-container" style="padding-top: 25px;">
		<div class="secondary-navigation">
			<ul class="wat-cf">
				<li class="first"><%=link_to "List", list_plan_company_company_application_path(current_own_company, params[:id])%></li>
				<li class="active"><%=link_to "New", new_plan_company_company_application_path(current_own_company, params[:id])%></li>
			</ul>
		</div>

		<h1> Create Application</h1>
		<div class="inner">
			<% form_for :application_plan, :url => update_plan_company_company_application_path(current_own_company, params[:id], :plan_id => params[:plan_id]), :html => { :class => :form } do |f| -%>
			<%= render :partial => "form_plan", :locals => { :f => f } %>
			<% end -%>
		</div>

	</div>
	<div class="clear"></div>
</div>