<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li>
				<%= link_to "#{t("web-app-theme.edit", :default => t("views.links.profile"))}", entadmin_entprofiles_path%>
			</li>
			<li class="first active">
				<%= link_to "#{t("web-app-theme.edit", :default => t("views.links.edit"))}",edit_entadmin_entprofile_path(@ent) %>
			</li>
		</ul>
	</div>
	<div class="content">
		<br> 
		<div class="inner">
			<%= error_messages_for :users %>
			<% form_for :edit_profile, :url => entadmin_entprofile_path(@uid), :html => { :class => :form } do |f| -%>
			<input type="hidden" name="_method" value="put" />
			<%= render :partial => "form", :locals => {:f => f} %>
			<% end -%>
		</div>
	</div>
</div>
