You have a new friendship request from <%= @user.name %> on <%=property(:sp_name)%>. <br/><br/>

<a href="<%= @accept_url %>">Accept request</a><br/>
<a href="<%= @profile_url %>">View their profile</a>

