<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => t("views.links.list"))}", spadmin_domains_path  %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.edit", :default => t("views.links.edit"))}", edit_spadmin_domain_path %></li>
    </ul>
  </div>          
  <div class="content">   
  	<br>         
    <div class="inner">
      <%= error_messages_for :domains %>
     <% form_for :domains, :url => spadmin_domain_path(:domains), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
