<script language="javascript" type='text/javascript' src='https://www.google.com/jsapi'></script>

<div class="content left-column">
  <div class="clear"></div>
  <%= render :partial => "nav_menu" %>
  <div class="right-wide-side employees-container" style="padding-top: 25px;">
  <h1> Cost of Apps Per User </h1>
 </div>
	<div class="clear"></div>
</div>
